In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

檢視資料中各個欄位類型的數量

In [3]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

檢視資料中類別型欄位各自類別的數量

In [10]:
print(app_train.select_dtypes(include=["object"]))

       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0              Cash loans           M            N               Y
1              Cash loans           F            N               N
2         Revolving loans           M            Y               Y
3              Cash loans           F            N               Y
4              Cash loans           M            N               Y
5              Cash loans           M            N               Y
6              Cash loans           F            Y               Y
7              Cash loans           M            Y               Y
8              Cash loans           F            N               Y
9         Revolving loans           M            N               Y
10             Cash loans           F            N               Y
11             Cash loans           F            N               Y
12             Cash loans           F            N               Y
13             Cash loans           M            Y               N
14             Cash loans           F            N               Y
15             Cash loans           M            Y               Y
16             Cash loans           M            N               N
17        Revolving loans           F            N               Y
18        Revolving loans           F            N               Y
19             Cash loans           F            N               Y
20        Revolving loans           M            Y               Y
21             Cash loans           F            Y               Y
22             Cash loans           F            N               N
23             Cash loans           F            N               Y
24             Cash loans           M            Y               N
25             Cash loans           F            N               Y
26             Cash loans           F            N               Y
27             Cash loans           M            N               Y
28             Cash loans           M            Y               Y
29        Revolving loans           M            N               Y
...                   ...         ...          ...             ...
307481         Cash loans           M            N               Y
307482         Cash loans           F            Y               Y
307483         Cash loans           F            N               Y
307484         Cash loans           F            Y               N
307485    Revolving loans           F            N               Y
307486         Cash loans           F            Y               Y
307487         Cash loans           M            N               Y
307488         Cash loans           F            N               N
307489         Cash loans           F            N               Y
307490         Cash loans           M            N               Y
307491         Cash loans           M            Y               Y
307492         Cash loans           M            Y               Y
307493         Cash loans           F            N               Y
307494         Cash loans           M            Y               N
307495         Cash loans           M            Y               N
307496    Revolving loans           F            N               N
307497         Cash loans           F            Y               Y
307498         Cash loans           M            Y               Y
307499         Cash loans           F            N               Y
307500         Cash loans           F            N               Y
307501         Cash loans           F            N               Y
307502         Cash loans           F            N               Y
307503         Cash loans           F            N               Y
307504         Cash loans           F            N               Y
307505         Cash loans           F            N               Y
307506         Cash loans           M            N               N
307507         Cash loans           F            N               Y
307508         Cash loans           F            N               Y
307509         Cash loans           F            N               Y
307510         Cash loans           F            N               N

        NAME_TYPE_SUITE      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0         Unaccompanied               Working  Secondary / secondary special
1                Family         State servant               Higher education
2         Unaccompanied               Working  Secondary / secondary special
3         Unaccompanied               Working  Secondary / secondary special
4         Unaccompanied               Working  Secondary / secondary special
5       Spouse, partner         State servant  Secondary / secondary special
6         Unaccompanied  Commercial associate               Higher education
7         Unaccompanied         State servant               Higher education
8              Children             Pensioner  Secondary / secondary special
9         Unaccompanied               Working  Secondary / secondary special
10        Unaccompanied               Working               Higher education
11             Children             Pensioner  Secondary / secondary special
12        Unaccompanied               Working  Secondary / secondary special
13        Unaccompanied               Working  Secondary / secondary special
14        Unaccompanied               Working  Secondary / secondary special
15               Family               Working  Secondary / secondary special
16        Unaccompanied               Working  Secondary / secondary special
17        Unaccompanied               Working  Secondary / secondary special
18              Other_A               Working  Secondary / secondary special
19        Unaccompanied         State servant               Higher education
20        Unaccompanied               Working  Secondary / secondary special
21        Unaccompanied  Commercial associate  Secondary / secondary special
22        Unaccompanied               Working  Secondary / secondary special
23        Unaccompanied             Pensioner  Secondary / secondary special
24        Unaccompanied               Working  Secondary / secondary special
25        Unaccompanied               Working  Secondary / secondary special
26        Unaccompanied               Working  Secondary / secondary special
27               Family               Working  Secondary / secondary special
28        Unaccompanied         State servant               Higher education
29        Unaccompanied               Working               Higher education
...                 ...                   ...                            ...
307481           Family               Working  Secondary / secondary special
307482    Unaccompanied  Commercial associate  Secondary / secondary special
307483    Unaccompanied             Pensioner  Secondary / secondary special
307484    Unaccompanied  Commercial associate  Secondary / secondary special
307485           Family               Working  Secondary / secondary special
307486    Unaccompanied  Commercial associate               Higher education
307487    Unaccompanied             Pensioner  Secondary / secondary special
307488    Unaccompanied         State servant               Higher education
307489    Unaccompanied  Commercial associate  Secondary / secondary special
307490    Unaccompanied  Commercial associate               Higher education
307491    Unaccompanied  Commercial associate  Secondary / secondary special
307492    Unaccompanied               Working  Secondary / secondary special
307493    Unaccompanied               Working  Secondary / secondary special
307494           Family  Commercial associate  Secondary / secondary special
307495    Unaccompanied               Working               Higher education
307496           Family               Working               Higher education
307497    Unaccompanied               Working  Secondary / secondary special
307498    Unaccompanied  Commercial associate  Secondary / secondary special
307499    Unaccompanied  Commercial associate  Secondary / secondary special
307500    Unaccompanied               Working               Higher education
307501    Unaccompanied  Commercial associate  Secondary / secondary special
307502    Unaccompanied               Working  Secondary / secondary special
307503    Unaccompanied  Commercial associate               Higher education
307504    Unaccompanied               Working  Secondary / secondary special
307505    Unaccompanied             Pensioner  Secondary / secondary special
307506    Unaccompanied               Working  Secondary / secondary special
307507    Unaccompanied             Pensioner  Secondary / secondary special
307508    Unaccompanied               Working               Higher education
307509    Unaccompanied  Commercial associate  Secondary / secondary special
307510    Unaccompanied  Commercial associate               Higher education

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE        OCCUPATION_TYPE  \
0       Single / not married  House / apartment               Laborers
1                    Married  House / apartment             Core staff
2       Single / not married  House / apartment               Laborers
3             Civil marriage  House / apartment               Laborers
4       Single / not married  House / apartment             Core staff
5                    Married  House / apartment               Laborers
6                    Married  House / apartment            Accountants
7                    Married  House / apartment               Managers
8                    Married  House / apartment                    NaN
9       Single / not married  House / apartment               Laborers
10                   Married  House / apartment             Core staff
11                   Married  House / apartment                    NaN
12                   Married  House / apartment               Laborers
13                   Married  House / apartment                Drivers
14                   Married  House / apartment               Laborers
15      Single / not married   Rented apartment               Laborers
16                   Married  House / apartment                Drivers
17                   Married  House / apartment               Laborers
18                     Widow  House / apartment               Laborers
19      Single / not married  House / apartment             Core staff
20                   Married  House / apartment               Laborers
21                   Married  House / apartment            Sales staff
22                   Married   Rented apartment            Sales staff
23                   Married  House / apartment                    NaN
24                   Married  House / apartment                Drivers
25                   Married  House / apartment         Cleaning staff
26                     Widow  House / apartment          Cooking staff
27                   Married  House / apartment               Laborers
28      Single / not married  House / apartment                    NaN
29      Single / not married       With parents               Laborers
...                      ...                ...                    ...
307481               Married  House / apartment               Managers
307482               Married  House / apartment               Managers
307483             Separated  House / apartment                    NaN
307484               Married   Rented apartment               Managers
307485             Separated       With parents            Sales staff
307486        Civil marriage  House / apartment                    NaN
307487               Married  House / apartment                    NaN
307488  Single / not married  House / apartment             Core staff
307489        Civil marriage  House / apartment            Sales staff
307490  Single / not married  House / apartment               Laborers
307491               Married  House / apartment                Drivers
307492               Married  House / apartment            Sales staff
307493               Married  House / apartment         Security staff
307494               Married  House / apartment                Drivers
307495               Married  House / apartment  High skill tech staff
307496               Married  House / apartment          Cooking staff
307497               Married  House / apartment            Sales staff
307498               Married  House / apartment               Laborers
307499               Married  House / apartment         Medicine staff
307500               Married  House / apartment                    NaN
307501               Married  House / apartment     Low-skill Laborers
307502               Married  House / apartment               Laborers
307503  Single / not married  House / apartment             Core staff
307504             Separated  House / apartment            Sales staff
307505  Single / not married  House / apartment                    NaN
307506             Separated       With parents            Sales staff
307507                 Widow  House / apartment                    NaN
307508             Separated  House / apartment               Managers
307509               Married  House / apartment               Laborers
307510               Married  House / apartment               Laborers

       WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE FONDKAPREMONT_MODE  \
0                       WEDNESDAY  Business Entity Type 3   reg oper account
1                          MONDAY                  School   reg oper account
2                          MONDAY              Government                NaN
3                       WEDNESDAY  Business Entity Type 3                NaN
4                        THURSDAY                Religion                NaN
5                       WEDNESDAY                   Other                NaN
6                          SUNDAY  Business Entity Type 3                NaN
7                          MONDAY                   Other                NaN
8                       WEDNESDAY                     XNA                NaN
9                        THURSDAY             Electricity                NaN
10                       SATURDAY                Medicine                NaN
11                         FRIDAY                     XNA                NaN
12                         FRIDAY  Business Entity Type 2   reg oper account
13                       THURSDAY           Self-employed   reg oper account
14                         MONDAY       Transport: type 2   reg oper account
15                       SATURDAY  Business Entity Type 2                NaN
16                       THURSDAY              Government                NaN
17                         MONDAY            Construction                NaN
18                         FRIDAY                 Housing   reg oper account
19                         MONDAY            Kindergarten                NaN
20                         FRIDAY           Self-employed   reg oper account
21                         MONDAY           Trade: type 7                NaN
22                       THURSDAY           Self-employed   reg oper account
23                         FRIDAY                     XNA   org spec account
24                       THURSDAY  Business Entity Type 3   reg oper account
25                       SATURDAY  Business Entity Type 3   reg oper account
26                         MONDAY  Business Entity Type 3                NaN
27                       SATURDAY       Industry: type 11                NaN
28                      WEDNESDAY                Military                NaN
29                        TUESDAY  Business Entity Type 3   reg oper account
...                           ...                     ...                ...
307481                     FRIDAY  Business Entity Type 3                NaN
307482                   THURSDAY                 Telecom      not specified
307483                     MONDAY                     XNA   reg oper account
307484                     MONDAY  Business Entity Type 3                NaN
307485                   SATURDAY  Business Entity Type 3                NaN
307486                   SATURDAY  Business Entity Type 2                NaN
307487                  WEDNESDAY                     XNA                NaN
307488                  WEDNESDAY              Government                NaN
307489                     FRIDAY  Business Entity Type 3   reg oper account
307490                   SATURDAY  Business Entity Type 1                NaN
307491                   SATURDAY           Self-employed                NaN
307492                     FRIDAY           Self-employed                NaN
307493                     MONDAY                  School                NaN
307494                     MONDAY           Self-employed                NaN
307495                  WEDNESDAY  Business Entity Type 3   org spec account
307496                   THURSDAY           Self-employed                NaN
307497                   THURSDAY           Trade: type 7                NaN
307498                     MONDAY            Construction                NaN
307499                    TUESDAY                Medicine                NaN
307500                     FRIDAY  Business Entity Type 3                NaN
307501                  WEDNESDAY        Industry: type 1                NaN
307502                     MONDAY                  School                NaN
307503                   SATURDAY                    Bank                NaN
307504                  WEDNESDAY           Self-employed                NaN
307505                     MONDAY                     XNA   reg oper account
307506                   THURSDAY                Services   reg oper account
307507                     MONDAY                     XNA   reg oper account
307508                   THURSDAY                  School   reg oper account
307509                  WEDNESDAY  Business Entity Type 1                NaN
307510                   THURSDAY  Business Entity Type 3                NaN

        HOUSETYPE_MODE WALLSMATERIAL_MODE EMERGENCYSTATE_MODE
0       block of flats       Stone, brick                  No
1       block of flats              Block                  No
2                  NaN                NaN                 NaN
3                  NaN                NaN                 NaN
4                  NaN                NaN                 NaN
5                  NaN                NaN                 NaN
6                  NaN                NaN                 NaN
7                  NaN                NaN                 NaN
8                  NaN                NaN                 NaN
9                  NaN                NaN                 NaN
10                 NaN                NaN                 NaN
11                 NaN                NaN                 NaN
12      block of flats                NaN                  No
13      block of flats              Panel                  No
14      block of flats              Panel                  No
15                 NaN                NaN                 NaN
16                 NaN                NaN                 NaN
17                 NaN                NaN                 NaN
18      block of flats       Stone, brick                  No
19                 NaN                NaN                 NaN
20      block of flats       Stone, brick                  No
21                 NaN                NaN                 NaN
22      block of flats              Panel                  No
23      block of flats              Mixed                  No
24      block of flats              Panel                  No
25      block of flats       Stone, brick                  No
26      block of flats             Wooden                 Yes
27                 NaN                NaN                 NaN
28                 NaN                NaN                 NaN

In [12]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

#### Label encoding
有仔細閱讀[參考資料](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)的人可以發現，Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位示範使用 Label encoding，但不表示這樣處理是最好的，一切取決於欄位本身的意義適合哪一種表示方法

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

3 columns were label encoded.

#### One Hot encoding
pandas 中的 one hot encoding 非常方便，一行程式碼就搞定

In [7]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

可以觀察到原來的類別型欄位都轉為 0/1 了

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [8]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [ ]:
"""
Your Code Here
"""